<!DOCTYPE html>
<html lang="en">
<head>
    <title>Go, web</title>
</head>
<body>
    <h1>Hi...uhhh...is anyone home? This is Scott Lang.We met a few years ago... at the airport...in Germany...I got really big</h1>
    <a href="normal">normal-router</a><br>
    <a href="quantum">quantum-router</a>
</body>
</html>