<!DOCTYPE html>
<html lang="en">
<head>
    <title>NormalTime</title>
</head>
<body>
<h1>Normal time: years: <%= years%>, months: <%= months%>, days: <%= days%></h1>

<a href="/quantum">quantum-time</a><br>
<a href="/">first page</a>
</body>
</html>