<!DOCTYPE html>
<html lang="en">
<head>
    <title>QuantumTime</title>
</head>
<body>
<h1>Quantum time: years: <%= years%>, months: <%= months%>, days: <%= days%></h1>

<a href="/normal">normal-time</a><br>
<a href="/">first page</a>
</body>
</html>