div {
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: relative;
}
#yellow {
    background-color: rgb(211, 196, 100);
    position: relative;
}
#green {
    background-color: rgb(118, 211, 114);
    position: relative;
}
#purple {
    background-color: rgb(154, 84, 208);
    position: relative;
}
#blue {
    background-color: rgb(63, 132, 209);
    position: relative;
}
#orange {
    background-color: rgb(198, 95, 124);
    position: relative;
}
#red {
    background-color: rgb(195, 71, 87);
    position: relative;
}